.single-product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.single-product img {
  height: 285px;
  width: 285px;
  border-radius: 8px;
  margin: 7px;
}
.single-product h4 {
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin: 0;
}
.product-info {
  margin: 5px 10px;
}
.product-info p {
  margin: 7px 0;
}
.btn-add-to-cart {
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.btn-add-to-cart:hover {
  background: gray;
}
